<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="sidemenu/opportunities"></ion-back-button>
  </ion-buttons>
    <ion-title>opportunity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


<ion-card>

 <ion-item>
        <ion-avatar item-left>
          <img src="assets/logo.jpeg" />
        </ion-avatar>
        <h2>Josh Morony</h2>
        <p>November 5, 1955</p>
      </ion-item>

      <img src="assets/logo.jpeg" />

<div id="content">

<p> <strong>Period</strong>: Monthly</p>

<p> <strong>Amount</strong>: R25000 </p>
<p>  <strong>Duration</strong> :1 year</p>

 <p> <strong>Description</strong>: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
 </p>
  

     
</div>


    </ion-card>


</ion-content>
