#container{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height:250px
    background



}



#logo{

  
    position: relative;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    width:100%;
  
  
  
  
  
  
  
    img{
     
    padding-left:15px;
     padding-right:15px;
    padding-top:15px;
  
  
  
  
  
  
  
     }
  }


  ion-avatar{

    position: absolute;
    display: block;

    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    width: 100px;
    height:100px;



}