<ion-header>
  <ion-toolbar  color="animal">
   <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Opportunities</ion-title>
  </ion-toolbar>


  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content padding>





<ion-card *ngFor="let opportunity of opportunityList">


      <ion-item>
        <ion-avatar item-left>
          <img src="assets/logo.jpeg" />
        </ion-avatar>
        <h5>{{profileUser?.name}}</h5>
       
      </ion-item>

 <p  style="margin-left:10px;"><b>{{this.timeFrame(opportunity.created)}}</b></p>


<ion-card-title>

  <h2 style="text-align:center">{{opportunity.name}}</h2>

</ion-card-title>


  <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
            <img src="assets/logo.jpeg" />
      </ion-slide>
      <ion-slide>
          <img src="assets/logo.jpeg" />
      </ion-slide>
      <ion-slide>
       <img src="assets/logo.jpeg" />
      </ion-slide>
    </ion-slides>


    <ion-card-content>


    <ion-row>

<ion-col> <p><b>Amount:</b> {{opportunity.amount}}</p> </ion-col>

<ion-col> <b> Duration:</b> {{opportunity.duration}} Days</ion-col>

</ion-row>

 
       
       <p id="description" >{{opportunity.description}} </p>

    





       

      </ion-card-content>

</ion-card>


</ion-content>
