ion-row {
    text-align: center;
    }


    description{

        margin-top:10px;
    }



    #time_moment{

        margin-left: 10px;
    }


    #description{

        font-family: "Trebuchet MS", Helvetica, sans-serif;

    }


    ion-header{

        background-color: #47e0ff;
      }


     
