<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sidemenu/messages"></ion-back-button>
  </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>






<div id="chat_box">


<ion-row>

<ion-col size="10"> 
<ion-item>


<ion-input placeholder="message">

</ion-input>



</ion-item>

</ion-col>

<ion-col size="2">

<ion-button>

 <ion-icon ios="ios-send" md="md-send"></ion-icon>

</ion-button>


</ion-col>

</ion-row>

</div>
</ion-content>
