<ion-header>
    <ion-toolbar color="animal" *ngIf="!isToolbar">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{name}}</ion-title>
    </ion-toolbar>

    <ion-toolbar color="animal" *ngIf="isToolbar">

        <ion-buttons slot="start">
            <ion-icon name="close" (click)="Cancel()"></ion-icon>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-icon name="download" (click)="download()" *ngIf="isDownload"></ion-icon>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-icon name="trash" (click)="delete()"></ion-icon>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-icon name="share" (click)="ShareWith()"></ion-icon>
        </ion-buttons>



    </ion-toolbar>
</ion-header>

<ion-content #scrollArea [scrollEvents]="true">

    <div *ngIf="data ==false">
        <div *ngFor="let n of [0, 1, 2, 3, 4, 5, 6, 7,8,9,10,11,12,13,14,15]" class="ion-padding custom-skeleton chat">
            <div>
                <ion-skeleton-text animated style="width: 50%; float: right;"></ion-skeleton-text>
            </div>
            <div style="float: left;">
                <span class="name">
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text><br>
                </span>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </div>
        </div>
    </div>



    <div class="chat" *ngFor="let chat of chatList">

        <div class="me" *ngIf="uid == chat.userID && chat.sendto == user">
            <div (click)="Actions(chat)" (click)="isDownload=false">
                <span>
                    {{chat.Message}}
                </span>

                <span class="meTime" *ngIf="chat.Message !=''">
                    {{chat.created | date: "HH:mm"}}
                </span>
            </div>

            <div *ngIf="chat.url !='' " (click)="Actions(chat)" (click)="isDownload=true">
                <div>
                    <img src="/assets/docs/{{chat.fileext}}.svg">
                    <span>
                        {{chat.filename | slice:0:10}}.{{chat.fileext}} {{this.formatBytes(chat.size)}}
                    </span>
                </div>
                <span class="meTime">
                    {{chat.created | date: "HH:mm"}}
                </span>
            </div>
        </div>


        <div class="you" *ngIf="chat.sendto == uid && chat.userID == user">
            <div (click)="Actions(chat)" (click)="isDownload=false">
                <span>
                    {{chat.Message}}
                </span>

                <span class="youTime" *ngIf="chat.Message !=''">
                    {{chat.created | date: "HH:mm"}}
                </span>
            </div>


            <div *ngIf="chat.url !='' " (click)="Actions(chat)" (click)="isDownload=true">
                <div class="profile-image">
                    <img src="/assets/docs/{{chat.fileext}}.svg"> {{chat.filename | slice:0:10}}.{{chat.fileext}} {{this.formatBytes(chat.size)}}
                </div>
                <span class="youTime">
                    {{chat.created | date: "HH:mm"}}
                </span>
            </div>
        </div>

    </div>

    <div class="chat">
        <div *ngIf="uploadPercent | async as progress">
            <div class="me">
                <img src="/assets/docs/{{fileext}}.svg"> {{filename | slice:0:10}}.{{fileext}} {{this.formatBytes(size)}}
                <!-- <progress [value]="progress" max="100"></progress> -->
                <ion-progress-bar color="success" [value]="progress/100"></ion-progress-bar>
                <br>
                <!-- <ion-button (click)="task.pause()"> Pause</ion-button>
                <ion-button (click)="task.resume()"> Resume</ion-button> -->

            </div>


        </div>
    </div>


    <br>
    <br>
    <br>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="isprogress">
        <ion-fab-button color="primary" size="small">
            <img src="/assets/img/download.gif">
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer slot="fixed" color="light">
    <ion-list lines="none">
        <ion-toolbar class="no-border">
            <ion-item>

                <ion-buttons>
                    <ion-button>
                        <div class="File-upload">
                            <label for="File-upload">
                                <ion-icon name="attach" class="input" color="animal"> </ion-icon>
                            </label>

                            <input id="File-upload" type="file" (change)="selectFile($event)" />
                        </div>
                    </ion-button>
                </ion-buttons>

                <ion-textarea [(ngModel)]="text" placeholder="Write your message ..." (keyup.enter)="send()"></ion-textarea>

                <ion-buttons item-right>
                    <ion-button (click)="send()" slot="end">
                        <ion-icon ios="ios-send" md="md-send" color="animal"></ion-icon>
                    </ion-button>
                </ion-buttons>

            </ion-item>
        </ion-toolbar>
    </ion-list>
</ion-footer>