ion-row {
    text-align: center;
}

ion-item {
    border: 1px solid grey;
}

#description {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 10px;
}

.fixed[scrollx="true"],
div[scrolly="true"] {
    position: relative;
    overflow: hidden;
     ::-webkit-scrollbar {
        display: none;
    }
}

.fixed[scrollx="true"] {
    overflow-x: auto;
}

.fixed[scrolly="true"] {
    overflow-y: auto;
}

ion-header {
    background-color: #47e0ff;
}