<ion-header>
  <ion-toolbar color="animal">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Jobs</ion-title>
  </ion-toolbar>


  <ion-searchbar (ionInput)="filterList($event)"placeholder=""></ion-searchbar>
</ion-header>

<ion-content padding>








  <ion-card *ngFor="let job of jobsList">


    <ion-item>
      <ion-avatar item-left *ngIf="job.userUrl==''">
        <img src="assets/logo.jpeg " />
      </ion-avatar>
      <ion-avatar item-left *ngIf="job.userUrl!=''">
        <img src="{{job?.userUrl}}" />
      </ion-avatar>
      <h5>{{job.username}}</h5>

    </ion-item>

    <p style="margin-left:10px;"><b>{{this.timeFrame(job.created)}}</b></p>

    <ion-card-title>



      <h2 style="text-align:center">{{job.name}}</h2>

    </ion-card-title>





    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let image of job.pictures">
        <img src="{{image.url}}" />
      </ion-slide>
      <ion-slide *ngIf="job.vidUrl!=''">
        <vg-player>
          <video #media [vgMedia]="media" id="singleVideo" preload="auto" controls >
              <source src="{{job.vidUrl}}" type="video/mp4">
          </video>
       </vg-player>
      </ion-slide>
    </ion-slides>


    <ion-card-content>

      <p><b>Amount:</b> {{job.amount}}</p>

      <p ion-text color="danger" id="description">{{job.description}} </p>





      <ion-row>

        <ion-col><b>{{job.type}}</b></ion-col>

        <ion-col> <b> {{job.period}}</b></ion-col>

      </ion-row>



    </ion-card-content>

  </ion-card>





</ion-content>