ion-avatar{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height:100px;



}


ion-header{

background-color: #47e0ff;
height:250px;



}


#profile_edit{

   

}





