.content{

  

  
    position: absolute;

    right:0;
    left:0;
    bottom: 0;
    
 

}


ion-item{

    border: 1px solid grey;

}


h1{

    color: grey;

}


ion-button{

    --ion-background: aqua;

}