<ion-content style="text-align:center">
    <div class="content">


        <ion-row>
            <ion-col text-center>
                <div class="form">
                    <form padding [formGroup]="loginForm">

                        <div id="logo">
                            <img src="assets/logo.jpeg">
                        </div>

                        <ion-row align-items-start>
                            <ion-col col-12>
                                <h1><strong>Welcome To Konekt</strong> </h1>
                            </ion-col>
                        </ion-row>

                        <ion-row align-items-start>
                            <ion-col col-12>
                                <h2>Please Login To Your Account</h2>
                            </ion-col>
                        </ion-row>


                        <ion-item>
                            <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
                        </ion-item>

                        <div class="validation-errors" style="text-align: left;">
                            <ng-container *ngFor="let validation of validation_messages.email">
                                <div class="error-msg" *ngIf="loginForm.get('email').hasError(validation.type) && loginForm.get('email').touched">
                                    <span class="error">{{ validation.message }}</span>
                                </div>
                            </ng-container>
                        </div>
                        <ion-item>
                            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                        </ion-item>
                        <div class="validation-errors" style="text-align: left;">
                            <ng-container *ngFor="let validation of validation_messages.password">
                                <div class="error-msg" *ngIf="loginForm.get('password').hasError(validation.type) && loginForm.get('password').touched">
                                    <span class="error">{{ validation.message }}</span>
                                </div>
                            </ng-container>
                        </div>
                        <ion-button color="button" type="submit" expand="block" (click)="formSubmit()">Login</ion-button>
                    </form>
                </div>

                <!--<ion-row>

          <ion-col class="flexcontainer">
        
          <ion-fab-button (click)="signInWithFacebook()" color="button">
        <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>

        
        </ion-col>




         <ion-col class="flexcontainer" color="button">
        
          <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>

        
        </ion-col>


         <ion-col class="flexcontainer">
        
          <ion-fab-button (click)="signInWithGoogle()" color="button">
        <ion-icon name="mail"></ion-icon>
        </ion-fab-button>

        
        </ion-col>


        </ion-row> -->



                <div description text-center>
                    <ion-row>
                        <!-- Reset your password button -->
                        <ion-col col-12 no-padding no-margin>
                            <p no-margin no-padding> Forgot password? <a>Reset your password</a> </p>
                        </ion-col>

                    </ion-row>

                    <ion-row>
                        <!-- Signup now button -->
                        <ion-col col-12 padding>
                            <p no-margin no-padding>Don't have an account <a (click)="onSignUp()">Sign Up</a> </p>
                        </ion-col>
                    </ion-row>
                </div>


            </ion-col>
        </ion-row>

    </div>
</ion-content>