.content {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
}

ion-item {
    border: 1px solid grey;
}

h1 {
    color: grey;
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#logo {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    img {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.validation-errors {
    color: red;
}

.spinnerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}