<ion-content style="text-align:center">



  <ion-img src="assets/logo.jpeg"></ion-img>



      <div class="content"> 


<ion-row>
  <ion-col text-center>

        <form padding>

         <ion-row align-items-start>
        <ion-col col-12>
          <h1><strong>Welcome To Konekt</strong> </h1>
        </ion-col>



      </ion-row>

        <ion-row align-items-start>
        <ion-col col-12>
          <h2>Please Login To Your Account</h2>
        </ion-col>


        
      </ion-row>


            <ion-item>


              <ion-input>
              
              </ion-input>


            </ion-item>



            <ion-item>


              <ion-input>
              
              </ion-input>


            </ion-item>



            <ion-button  expand="block">Login</ion-button>


        </form>



 <div description text-center>
            <ion-row>
              <!-- Reset your password button -->
              <ion-col col-12 no-padding no-margin>
                <p no-margin no-padding> Forgot password? <a>Reset your password</a> </p>
              </ion-col>

</ion-row>

      <ion-row>
              <!-- Signup now button -->
              <ion-col col-12 padding>
                <p no-margin no-padding>Don't have an account <a>Sign Up</a> </p>
              </ion-col>
            </ion-row>
          </div>


           </ion-col>
</ion-row>

          </div>





</ion-content>
